busco_db/
diamonddb/
hmmerdb/
nextflow
pipeline_info/
reads/
uniprot_db/
work/
cbs-dtu-tools/
diamonddb_custom/
diamonddb_swiss/
evigene/
nextflow.config
results/
sqlite_db/
.varfile.sh
.nextflow*
.DS_Store
cbs-dtu-tools.tar.gz
docs/
Singularity
