/*
================================================================================================
                                    Config File TransPi
================================================================================================
                            Transcriptome Analysis Pipeline
                            Author: Ramón E. Rivera-Vicéns
                            GitHub: rivera10
----------------------------------------------------------------------------------------
*/

params {

    // -------------------------  EDIT below variables (mandatory)  ------------------------- //
    // --------------------- Can also be specified in the command line ---------------------- //

        // Modify this accordingly (if needed)
        // kmers list (depends on read length!)
            k=""

        // SOAP config file generator
            //#maximal read length
                maxReadLen=""
            //[LIB]
            //#maximal read length in this lib
                rd_len_cutof="${params.maxReadLen}"

            // Other options if needed. Leave defaults if unsure.
            //#average insert size
            //avg_ins="200"
            //#if sequence needs to be reversed
                reverse_seq="0"
            //#in which part(s) the reads are used
                asm_flags="3"
            //#minimum aligned length to contigs for a reliable read location (at least 32 for short insert size)
                map_len="32"

    // --------------------------  EDIT below variables if needed  -------------------------- //

    // Directory for results
        outdir="results"

    // Directory for trace files
        tracedir="pipeline_info"

    // PATH for rnammer, tmhmm, signalp programs. Requires licenses. See CBS-DTU tools for information.
        // RNAmmer
            rnam = ""
        // Tmhmm
            tmhmm = ""
        // SignalP
            signalp = ""

    /*
    // ------------------------------------     STOP     ------------------------------------ //
    // ---------------------- Do not modify variables below this line. ---------------------- //
    // ------------------------- Proceed to modify processes at end ------------------------- //
    // -------------------------------        If nedded       ------------------------------- //
    */

    // PATH to TransPi installation
        pipeInstall

    // PATH to conda installation from precheck. Leave blank is precheck was not used or you will use comntainers
        myCondaInstall = ""

    // Directory for reads
        reads=""

    // Uniprot database PATH
        uniprot
        uniname

    //BUSCO database
        busco3db
        busco4db

    //PFAM file location
        pfloc

    //name of pfam file
        pfname

    //Trinotate sqlite created when installing Trinotate
        Tsql

    //busco4 conda env
        cenv

    // Pipeline options
        help = false
        fullHelp = false

    // Full analysis
        all = false

    // Only Evidential Gene run (one sample per run)
        onlyEvi = false

    // Only annotation analysis
        onlyAnn = false

    // Skip normalization of reads
        skipNormalization = false

    // Annotation options
    // SignalP
        withSignalP = false
    // tmHMM
        withTMHMM = false
    // rnammer
        withRnammer = false

    // Only Assemblies and Evidential Gene
        onlyAsm = false
    // Skip Evidential Gene for onlyAsm option
        skipEvi = false

    //Test data
        readsTest = false

    //short Transdecoder, no homlogy search PFAM and UniProt
        shortTransdecoder = false

    // Skip quality control
        skipQC = false

    // Skip fastp quality filter step
        skipFilter = false
    // Minimum reads quality for filtering in fastp
        minQual="25"

    // Filter Species using psytrans
        filterSpecies = false
    // Psytrans value to train model
        psyval=160
    // Host Sequence
        host=""
    // Symbiont Sequence
        symbiont=""

    // Run BUSCO in all assemblies
        allBuscos = false

    // BUSCO distribution analysis (this option needs to be run together with the allBuscos option)
        // Generate the analysis
        buscoDist = false

    // Mininmum percentage of assemblers require to rescue a BUSCO sequence
        minPerc="0.7"

    // Skip Kegg pathway search
        skipKegg = false

    // Skip Report
        skipReport = false

    // These options will chnage how the profiles work.
        // Run with conda installed by the precheck
            myConda = false
            condaActivate = false

        // TransPi container with all programs
            oneContainer = false

        // Cache directory for conda and singularity files. Leave in blank if not sure
            envCacheDir = ""

        // Singularity
        // Use singularity image created after pulling from docker and not from Galaxy depot (singularity image ready to use).
            singularity_pull_docker_container = false

    // Filter rRNA
        rRNAfilter = false
        // rRNA database
        rRNAdb = ""

    // Save reads from filtering and normalization
        saveReads = false

    // Get software versions
        getVersions = false
}

/*
    Proceed to modify processes if needed. Choose the scheduler and options:
        Executor = SLURM, PBS, etc.
        Cluster Options = Partition, Nodes, Priority, etc.
    If running locally leave the comments on "executor" and "clusterOptions".
    For more info see the README and/or Nextflow documentation.
*/

process {
    cpus='1'
    memory='5 GB'
    withLabel: big_cpus {
        cpus='20'
        memory='15 GB'
    }
    withLabel: med_cpus {
        cpus='8'
        memory='15 GB'
    }
    withLabel: low_cpus {
        cpus='4'
        memory='15 GB'
    }
    withLabel: exlow_cpus {
        cpus='1'
        memory='2 GB'
    }
    withLabel: big_mem {
        cpus='20'
        memory='350 GB'
    }
    withLabel: med_mem {
        cpus='15'
        //memory='250 GB'
        memory={ 100.Gb + (task.attempt * 50.Gb)}
        errorStrategy={ task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries = 2
    }
    withLabel: low_mem {
        cpus='20'
        memory='80 GB'
    }
    errorStrategy='finish'
}

// env Evidential Gene variable (only for nextflow)
env.evi="$baseDir/scripts/evigene"

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/${params.tracedir}/transpi_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/${params.tracedir}/transpi_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/${params.tracedir}/transpi_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/${params.tracedir}/transpi_dag.html"
}

// Get PATH for cache environments
params.localCacheDir = (params.envCacheDir ? "${params.envCacheDir}" : "${launchDir}")

profiles {
    conda {
        params.condaActivate = true
        params.localConda="${params.myCondaInstall}"
        // cache for condaEnv created individually
        conda.cacheDir = "${params.localCacheDir}/condaEnv/"
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        // cache for images from docker pull
        singularity.cacheDir="${params.localCacheDir}/singularityCache/"
    }
    test {
        includeConfig 'conf/test.config'
    }
    TransPiContainer {
        process {
            params.oneContainer = true
            params.TPcontainer="rerv/transpi:v1.0"
        }
    }
    palmuc {
        process {
            executor='slurm'
            clusterOptions='-p lemmium --qos=low'
        }
    }
}

// Temp BUSCO V4 container for oneContainer option.
params.v4container="quay.io/biocontainers/busco:4.0.5--pyr36_0"

executor {
  $slurm {
    queueSize=100
  }
}

manifest {
    name = 'TransPi'
    author = 'Ramón E. Rivera-Vicéns'
    description = 'Transcriptome Analysis Pipeline'
    mainScript = 'TransPi.nf'
    nextflowVersion = '>=20.07.0'
    version = '1.0'
}
