/*
========================================================================================
                                Test Config File TransPi
========================================================================================
                            Transcriptome Analysis Pipeline
                            Author: Ramón E. Rivera-Vicéns
----------------------------------------------------------------------------------------
*/

params {

    cpus='4'
    memory='16 Gb'
    // As an example. Need to modify the files.
    readsTest = [
        ['NAME_HERE', ['https://www.dropbox.com/s/0ixhtrwibt5yln1/stru_depth.fasta'], ['https://github.com/nf-core/test-datasets/raw/rnaseq/testdata/SRR4238355_subsamp.fastq.gz']]
    ]
}
