/*
========================================================================================
                                Test Config File TransPi
========================================================================================
                            Transcriptome Analysis Pipeline
                            Author: Ramón E. Rivera-Vicéns
----------------------------------------------------------------------------------------
*/

params {
    readsTest = [
        ['Sponge_sample', ['https://github.com/rivera10/test_dataset/raw/master/RNA_data/Tethya_wilhelma_R1.fastq.gz'], ['https://github.com/rivera10/test_dataset/raw/master/RNA_data/Tethya_wilhelma_R2.fastq.gz']]
    ]
}
