/*
========================================================================================
                                Test Config File TransPi
========================================================================================
                            Transcriptomes Analysis Pipeline
                            Author: Ramon E. Rivera-Vicens
                            Version: 1.0 (Palmuc)
----------------------------------------------------------------------------------------
*/
 
params {

    cpus='4'
    memory='16 Gb'

}

